@* _Chatbot.cshtml *@
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="~/css/chatbot.css" />

<button id="chat-toggle" onclick="toggleChat()">
    <img src="/images/Mess.png" id="chat-icon" alt="Chat Icon" />
</button>

<div id="chat-container">
    <h3>Foodper Chatbot</h3>
    <div style="display: flex;">
        <input type="text" id="message" placeholder="Bạn muốn hỏi gì về món ăn?" onkeydown="handleKey(event)" />
        <button class="send-btn" onclick="sendMessage()">Gửi</button>
    </div>
    <div id="chat-box"></div>
</div>

<script src="~/js/chatbot.js"></script>
