<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"]</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/EateryReviewWebsiteFE.styles.css" asp-append-version="true" />

	<link rel="stylesheet" href="~/css/chatbot.css" />




	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">
	<link rel="icon" href="~/favicon.ico" type="image/x-icon" />
	<link data-n-head="ssr" rel="icon" type="image/x-icon" href="~/favicon.png">


	<!-- Css Styles -->
	<link rel="stylesheet" href="~/css/bootstrap.min.css" type="text/css">
	<link rel="stylesheet" href="~/css/font-awesome.min.css" type="text/css">
	<link rel="stylesheet" href="~/css/elegant-icons.css" type="text/css">
	<link rel="stylesheet" href="~/css/nice-select.css" type="text/css">
	<link rel="stylesheet" href="~/css/jquery-ui.min.css" type="text/css">
	<link rel="stylesheet" href="~/css/owl.carousel.min.css" type="text/css">
	<link rel="stylesheet" href="~/css/slicknav.min.css" type="text/css">
	<link rel="stylesheet" href="~/css/style.css" type="text/css">
	<link rel="stylesheet" href="~/css/select-location-modal.css" type="text/css">
	<link rel="stylesheet" href="~/css/blog-detail.css" type="text/css">

	<link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/badges/">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">


	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	<script src="/js/main.js"></script>
	@RenderSection("Styles", required: false)

</head>
<body>

	@await Html.PartialAsync("_Header")
	@RenderSection("Breadcrumbs", required: false)
	<main role="main" class="pb-3">
		@RenderBody()
	</main>




	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>

	@await RenderSectionAsync("Scripts", required: false)
	@await Html.PartialAsync("_Chatbot")
	
</body>
</html>
<<script>
	 function getUsernameFromToken() {
		 const token = localStorage.getItem('accessToken');
		 if (!token) return null;
		 try {
			 const decoded = jwt_decode(token);
			 return decoded['http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name'];
		 } catch (e) {
			 console.error('Invalid token');
			 return null;
		 }
	 }

	 function getUserIdFromToken() {
			const token = localStorage.getItem('accessToken');
			if (!token) return null;

			try {
				const decoded = jwt_decode(token);
				return decoded['http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier'];
			} catch (e) {
				console.error('Invalid token', e);
				return null;
			}
		}

	 document.addEventListener("DOMContentLoaded", function () {
		const userId = getUserIdFromToken();
		$("#profileLink").attr("href", "/Profile?id=" + userId);
		 const username = getUsernameFromToken();
		 if (username) {
			 document.getElementById('usernameDisplay').innerText = ``;
			 document.getElementById('loggedInSection').style.display = 'block';
		 } else {
			 document.getElementById('guestSection').style.display = 'block';
		 }
	 });

	 async function logout() {
			 const token = localStorage.getItem('accessToken');

	 try {
	   await fetch("http://localhost:5029/api/Chat/clear-chat", {
		 method: "POST",
		 headers: {
		   "Authorization": `Bearer ${token}`
		 }
	   });
	 } catch (error) {
	   console.error("Lỗi khi logout:", error);
	 }

	 // Xoá token client + điều hướng
	 localStorage.removeItem("accessToken");
	 window.location.href = "/Authen";
	 }
</script>
<script src="https://cdn.jsdelivr.net/npm/jwt-decode@3.1.2/build/jwt-decode.min.js"></script>
