body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f8ff;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden; /* Prevents any scrollbars */
}

.container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px; /* Ensure the form doesn't stretch too wide */
    box-sizing: border-box;
}

h1 {
    color: #ff7f50;
    font-size: 28px;
    text-align: center;
}

input[type="email"], button {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
}

input[type="email"] {
    background-color: #f9f9f9;
}

button {
    background-color: #ff7f50;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

    button:hover {
        background-color: #ff4500;
    }

#forgotMessage {
    text-align: center;
    color: red;
    font-size: 14px;
}
