body {
    font-family: 'Arial', sans-serif;
    background-color: #fafafa;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 420px;
    width: 100%;
}

h1 {
    color: #ff7f50;
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}

input[type="password"], button {
    width: 100%;
    padding: 14px;
    margin: 12px 0;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: 16px;
    transition: all 0.3s;
}

input[type="password"] {
    background-color: #f9f9f9;
}

button {
    background-color: #ff7f50;
    color: white;
    font-weight: bold;
    padding: 14px 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    button:hover {
        background-color: #ff4500;
    }

#resetMessage {
    text-align: center;
    color: red;
    font-size: 14px;
    margin-top: 10px;
}
