@model BusinessObjects.Models.DashboardCardModel

<div class="col-md-4 py-3">
    <div class="card text-white shadow" style="background: @Model.BgColor;">
        <div class="card-body">
            <h6 class="card-title mb-2" style="font-size: 1rem;">@Model.Title</h6>
            <p class="card-text fw-bold" style="font-size: 2rem;">@Model.Value</p>
        </div>
    </div>
</div>